/* Media query for adjusting layout at screen sizes up to 1300px */
@media only screen and (max-width: 1300px) {
  /* Set position, display, z-index, margin, and font size for nav element */
  nav {
    position: static;
    display: block;
    z-index: 100;
    margin: 0 10px;
    font-size: 2rem;
  }
  /* Set display and height properties for heading element inside header element */
  header h1 {
    display: block;
    height: 30px;
  }
}

/* Media query for adjusting layout at screen sizes up to 900px */
@media only screen and (max-width: 900px) {
  /* Set position, display, z-index, margin, and font size for nav element */
  nav {
    position: static;
    display: block;
    z-index: 100;
    margin: 0 10px;
    font-size: 1.3rem;
  }
  /* Set display, margin, height, width, text alignment, and font size properties for heading element inside*/

  header h1 {
    display: block;
    margin: 5px 10px;
    height: 15px;
    width: 100%;
    text-align: center;
    font-size: 2.3rem;
  }
}
